body {
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  width: 90%;
  margin: auto;
}

header .segment {
  width: 40%;
  margin: auto !important;
}

header {
  text-align: center;
  margin: 10px auto 50px;
}
